<div class="login">
  <div class="login-left-panel"></div>
  <div class="login-right-panel">
    <div class="login-form">
      <mat-card>
        <h1>Bienvenido</h1>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <mat-input-container class="login-form-fullWidth">
            <input (keyup.enter)="login()" matInput type="email" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required>
          </mat-input-container>
          <mat-input-container class="login-form-fullWidth">
            <input (keyup.enter)="login()" type="password" matInput placeholder="Contraseña" name="password" [(ngModel)]="model.password" #password="ngModel" required>
          </mat-input-container>
        </form>
        <div>
          <button mat-raised-button color="primary" (click)="login(model)">Ingresar</button>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="navigateToRegister()">Registrar</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
