.register {
  height: 100%;
  overflow: hidden;
  width: 100% !important;
  margin: 0 !important;
}
.register-left-panel {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #03A9F4 url("http://bsnscb.com/data/out/45/39546206-corporate-wallpapers.png");
  background-size: cover;
  background-position: 50% 50%;
}
.register-right-panel {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #ffffff;
  background-size: cover;
  background-position: 50% 50%;
}
.register-form {
  width: 75%;
  height: 55%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.register-form-fullWidth {
  width: 100%;
}
